# Unreal Engine
*.pdb
*.sdf
*.opensdf
*.log
*.db
*.obj
*.exe
*.dll
*.app
*.dylib
*.icns
*.target
*.vcxproj*
.vs/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.xcodeproj
*.xcworkspace
*.xcuserstate
